*{
    font-family: 'Times New Roman',sans-serif;
    background-color: #6fdce3;
    color: #5c2fc2;
}
.banner{
    width: 100%;
    height: 100vh;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 80px;
    cursor: pointer;
    z-index: 0;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #5c2fc2;
    text-transform: uppercase;
    font-size: large;
}
.navbar ul li::after{

    content: '';
    height: 3px;
    width: 0;
    background: #5c2fc2;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.navbar ul li ul.dropdown li{
    display: block;
    margin: 0;
}
.navbar ul li ul.dropdown{
    width: 100%;
    position: absolute;
    z-index: 99;
    display: none; 
}
.navbar ul li:hover ul.dropdown{
    display: block;
}
.scris{
    text-align: center;
}
.da{
    display: flex;
    justify-content: space-around;
}
.text{
    text-indent: 5%;
}
.bloc{
    border: 3px solid #5c88c4;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}
.justifyc{
    display: flex;
    justify-content: space-evenly;
}
.justifys{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.myBtn {
    position: fixed;
    bottom: 50px;
    right: 30px; 
    z-index: 99; 
    border: 1px solid white; 
    background-color:#6fdce3; 
    color: #5c2fc2; 
    cursor: pointer;
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
    text-decoration: none;
    text-align: center;
  }
  .myBtn a{ 
    background-color:#6fdce3; 
    color: #fff;
    text-decoration: none;
  }
  .myBtn:hover {
    background-color:  #5c88c4; 
  }
.myBtn:hover a{
  background-color:  #5c88c4;
  text-decoration: none; 
}
.format{
    width: auto;
    height: auto;
    border:3px solid #5c88c4;
}
